<!-- Modal -->
<div class="modal fade issue-form" id="issue-<%= issue ? 'edit-' + issue._id : 'add' %>" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form method="<%= issue ? 'PUT' : 'POST' %>">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title"><%= issue ? 'Edit' : 'Add' %> Issue</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input class="d-none" type="text" name="_id" value="<%= issue ? issue._id : '' %>">
          <input class="d-none" type="text" name="project_id" value="<%= issue ? issue.project_id : '' %>">
      <% if (issue && issue.project) { %>
          <input class="d-none" type="text" name="issue_project" value="<%= issue.project %>">
      <% } else { %>
          <div class="form-group">
            <label for="issue_project">Project</label>
            <input class="form-control" type="text" name="issue_project" value="<%= issue ? issue.project : '' %>">
          </div>
      <% } %>
          <div class="form-group">
            <label for="issue_title">Title</label>
            <input class="form-control" type="text" name="issue_title" value="<%= issue ? issue.issue_title : '' %>">
          </div>
          <div class="form-group">
            <label for="issue_text">Details</label>
            <input class="form-control" type="text" name="issue_text" value="<%= issue ? issue.issue_text : '' %>">
          </div>
          <div class="form-group">
            <label for="created_by">Created By</label>
            <input class="form-control" type="text" name="created_by" value="<%= issue ? issue.created_by : '' %>">
          </div>
          <div class="form-group">
            <label for="assigned_to">Assigned To</label>
            <input class="form-control" type="text" name="assigned_to" value="<%= issue ? issue.assigned_to : '' %>">
          </div>
          <div class="form-group">
            <label for="status_text">Status</label>
            <input class="form-control" type="text" name="status_text" value="<%= issue ? issue.status_text : '' %>">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="<%= issue ? 'Save' : 'Add' %>">
        </div>
      </form>
    </div>
  </div>
</div>
